parameters:
    level: max

    paths:
        - src
        - tests
        - tools/smoke-test/external-theme/src
        - tools/smoke-test/external-theme/validate.php

    treatPhpDocTypesAsCertain: true
    ignoreErrors:
        -
            identifier: method.notFound
            path: src/ZhorteinDatatableBundle.php
            reportUnmatched: false
        -
            identifier: method.nonObject
            path: src/ZhorteinDatatableBundle.php
            reportUnmatched: false
        -
            identifier: class.notFound
            path: src/ZhorteinDatatableBundle.php
            reportUnmatched: false

    symfony:
        containerXmlPath: null
